* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito';
}

body {
    background-color: #130f0d;
    color: white;
}

.boards {
    display: flex;
    justify-content: space-between;
}

.board {
    background-color: #141316;
    border: 1px solid #FD951F11;
    border-radius: 4px;
    margin: 20px;
}

.board h3 {
    padding: 16px;
    margin: 0;
    color: #FD951FCC;
}

.dropzone {
    min-width: 332px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.card {
    padding: 16px;
    margin-bottom: 10px;
    width: 90%;
    box-shadow: 0 2px 2px -1px #FD951fcc;
    border-radius: 4px;
    background-color: #1a1a1c;
}

.status {
    width: 30px;
    height: 8px;
    margin-bottom: 16px;
    border-radius: 8px;
}

.todo .status {
    background-color: red;
}

.in-progress .status {
    background-color: yellow;
}

.done .status {
    background-color: green;
}

.highlight {
    background-color: #fd951f08;
}

.is-dragging {
    cursor: move !important;
    opacity: 0.3;
}

.dragover {
    background-color: #4cd13711;
}

.card,
.dropzone {
    transition: 400ms;
}